<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="NoiseThreshold" value="0.01"/>
    <add key="SwingThreshold" value="0.15"/>
    <add key="MinSwingThreshold" value="0.05"/>
    <add key="SwingThresholdDecayIntervalDays" value="1"/>
    <add key="Exchange" value="Binance"/>
    <add key="Broker" value="Demo"/>
    <add key="Reporter" value="FileAndConsole"/>
    <add key="Asset1" value="BTC"/>
    <add key="Asset2" value="USDT"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>