<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="NoiseThreshold" value="0.005"/>
    <add key="SwingThreshold" value="0.20"/>
    <add key="MinSwingThreshold" value="0.05"/>
    <add key="SwingThresholdDecayIntervalDays" value="3"/>
    <add key="Broker" value="GDAXReadOnly"/>
    <add key="Reporter" value="FileAndConsole"/>
    <add key="TradingPair" value="BCH-USD"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>